updated: "2020-06-05T11:27:59.529Z"
cases:
	all: 1924428
	new: 377
	stats: 5816
deaths:
	all: 110180
	new: 7
	stats: 333
recovered:
	all: 712252
active:
	all: 1101996
	new: 377
	stats: 0
	critical:
		all: 17083
		new: 0
		stats: 0
tests:
	all: 19568069
	new: 0
	stats: 59142
country:
	name: "USA"
	flag: "https://disease.sh/assets/img/flags/us.png"
	codes:
		iso2: "US"
		iso3: "USA"
	location:
		continent: "North America"
		lat: 38
		long: -97
